/* Arquivo destinado ao novo padrão de estilos do site */

body {
  /* Cores  */
  --background-color: #f4ee7b;
  --background-color-alt: #e6e5e5;
  --background-color-header: #333333;
  --text-color-header: white;
  --text-color: black;
  --text-color-placeholder: #9d9e9d;
  --submit-color: #e9df23;
  --highlight-color: #05acda;

  background-color: var(--background-color);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

input[type="submit"] {
  transition: ease-in-out 0.2s;
}

input[type="submit"]:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.swal2-modal {
  font-family: "Montserrat", sans-serif;
}

.swal2-title {
  font-size: 1.5rem;
}
