.cadastro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-box {
  border-radius: 1rem;
  width: 40%;
  overflow: hidden;
  background-color: var(--background-color-alt);
  box-shadow: 0px 0px 17px -1px rgb(84, 84, 84);
}

.cadastro-content {
  margin: 5%;
}

.cadastro-header {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-header);
  padding: 5% 0;
  width: 100%;
}

.cadastro-header h1 {
  color: white;
}

.input-container:first-child {
  padding-top: 0rem;
}

.input-container {
  padding: 2.5% 0;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-box i {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.input-box i.correct {
  color: #2bbd34;
  visibility: hidden;
}

.input-container.correct i.correct {
  visibility: visible;
}

.input-container.correct .input {
  border-color: #2bbd34;
}

.input-container.wrong .input {
  border-color: #e93e3e;
}

.input-box i.wrong {
  color: #e93e3e;
  visibility: hidden;
}

.input-container small {
  display: inline-block;
  margin-top: 1%;
  visibility: hidden;
  color: #e93e3e;
}

.input-container.wrong i.wrong {
  visibility: visible;
}

.input-container.wrong small {
  visibility: visible;
}

.input-container label {
  display: inline-block;
  padding-bottom: 2.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-color);
}

.input-container .input {
  display: block;
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 0.2rem solid var(--background-color-header);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1vw;
  word-spacing: 0.1vw;
  transition: 0.2s;
}

.input-container .input:focus {
  border-color: var(--highlight-color);
}

.input-container .placeicon::-webkit-input-placeholder {
  font-family: FontAwesome, "Montserrat", sans-serif;
  color: var(--text-color-placeholder);
  font-weight: normal;
  font-size: 1rem;
  overflow: visible;
  vertical-align: top;
}

.input-container .placeicon:focus::-webkit-input-placeholder {
  color: var(--highlight-color);
  opacity: 90%;
}

.input-container i {
  position: absolute;
}

.input-container[data-error]::after {
  content: attr(data-error);
}

#submit {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5% 0;
  width: 50%;
  background-color: var(--submit-color);
  outline: none;
  border: none;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 0px 10px 3px rgb(191, 188, 191);
}

@media (max-width: 992px) {
  .cadastro-box {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .cadastro-box {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .cadastro-box {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .cadastro-box {
    width: 90%;
    height: fit-content;
  }

  .cadastro-box h1 {
    font-size: 3rem;
  }

  .input-container label {
    font-size: 1.2rem;
  }

  .input-container .input,
  .input-container .placeicon::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
}
